<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//i-mode group (ja)//DTD XHTML i-XHTML(Locale/Ver.=ja/2.0) 1.0//EN" "i-xhtml_4ja_10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

{% block page_title %}<title></title> {% endblock %}

<meta http-equiv="Cache-control" content="no-cache" />
<meta http-equiv="Content-Language" content="ja" />

{% block page_style %}
<style type="text/css">
 <![CDATA[
 a:link {color:#0000FF;}
 a:visited {color:#6666CC;}
 ]]>
</style>
{% endblock %}
</head>

<body 
  bgcolor="#ffffff" text="#000000" link="#0000FF" vlink="#6666CC" 
  style="background:#FFFFFF;color:#000000;">

<div id="page_content">
  {% block page_content %}
  {% endblock %}
</div>

</body>
